

<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div class=" d-flex justify-content-between flex-wrap w-100">

    <div class="card-welcome d-flex flex-column justify-content-center align-items-center">
        <div style="background-image: url(../../../../assets/fotos/programando.jpg); width: 100%; height: 210px;  background-size: 100% auto;"  >
        <!-- <span class="fs-1 mt-3" >
            <strong>
                ¡Bienvenido al camino del pomodoro!
            </strong>
        </span>
        <span class="fs-4 mt-4 p-2" >
            Gestiona el tiempo de tus tareas efectivamente mediante la técnica pomodoro.
        </span> -->
    </div>

    <div class="p-3">
        <section class="cont" *ngIf="_log" id="login">
            <div class="content-login d-flex flex-column">
            <section class="d-flex justify-content-center w-100 p-2">
                <div class="btnchoice col fs-4 d-flex align-items-center"
                     [class.active]="isLoginActive"
                     (click)="toggleLogin(); _login = true; _signUp = false;">
                    <i class="pi pi-lock-open"></i> Login
                </div>
                <div class="btnchoice col fs-4 d-flex align-items-center"
                     [class.active]="isSignUpActive"
                     (click)="toggleSignUp(); desabilitar(); _login = false; _signUp = true;">
                    <mat-icon>person_add</mat-icon> Sign Up
                </div>
            </section>
            <div class="d-flex flex-wrap">
            <div class=" login-console animate__animated animate__bounce p-3" *ngIf="_login">

                <div class="w-100 d-flex justify-content-center p-2 ">
                        <img src="../../../assets/orangew.png"
                             width="150px"
                             height="auto"
                             alt="">
                </div>
                <form [formGroup]="loginForm"
                      class="mb-2"
                      (ngSubmit)="onSubmitLogin()">
            
                    <div class="d-flex flex-column mt-1">
                        <label for="email" class="d-flex align-items-center mb-2">
                            <mat-icon>email</mat-icon> Email:
                        </label>
                        <input class="console-input"
                               type="email"
                               required
                               formControlName="email"
                               (focus)="onInputFocus()"
                               (blur)="onInputBlur()"
                               #email
                               id="email"
                               placeholder="email">
                    </div>
                
                    <div class="d-flex flex-column mt-2" >
                        <label for="password" class="d-flex align-items-center mb-2">
                            <mat-icon>lock</mat-icon> Password:
                        </label>
                        <input class="console-input"
                               type="password"
                               (focus)="onInputFocus()"
                               (blur)="onInputBlur()"
                               required
                               formControlName="password"
                               #password
                               id="password"
                               placeholder="****" >
                    </div>
                    <div class="p-3" >
                        <button class="btn btn-warning d-flex justify-content-between align-items-center rounded-pill btn-sm w-100 fs-3 p-3"
                                type="submit" style="text-align: center;" >
                                <span> Iniciar Sesión </span> <mat-icon>check_circle</mat-icon> 
                        </button>
                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <span class="text-light" style="text-align: center;">
                            Conecta con personas, crea comunidades, y resuelvan cosas juntos...
                        </span>
                        <small class="text-light p-2" > {{versionamiento}} </small>
                    </div>
                </form>
            
            </div>
            <div class=" login-console animate__animated animate__bounce p-3" *ngIf="_signUp" >

                <div class="w-100 d-flex justify-content-center p-2 ">
                        <img src="../../../assets/orangew.png" width="150px" height="auto"  alt="">
                </div>
                <form [formGroup]="signForm" class="" (ngSubmit)="onSubmitSignUp()">

                    <div class="d-flex flex-column mt-2">
                        <label for="email">
                            Usuario:
                        </label>
                        <input class="console-input"
                               type="text" 
                               (focus)="onInputFocus()"
                               (blur)="onInputBlur()"
                               required
                               formControlName="nombre"
                               #nombre
                               id="nombre"
                               placeholder="Jean Walts ...">
                    </div>

                    <div class="d-flex flex-column mt-2">
                        <label for="email"> Email: </label>
                        <input class="console-input" type="email" 
                        (focus)="onInputFocus()" (blur)="onInputBlur()"
                        required formControlName="email" #email id="email" placeholder="...@email.com" >
                    </div>

                    <div class="d-flex flex-column mt-2">
                        <label for="edad"> Edad: </label>
                        <input class="console-input" type="number" min="0" max="110" 
                                formControlName="edad" #edad id="edad" placeholder="1" >
                    </div>

                    <div class="d-flex flex-column mt-2" >
                        <label for="password">
                            Password:
                        </label>
                        <input class="console-input" 
                        (focus)="onInputFocus()" (blur)="onInputBlur()"
                        type="text" required formControlName="password" #password id="password" placeholder="***" >
                    </div>

                    <div class="d-flex flex-column mt-2" >
                        <label for="password">
                            Re-Password:
                        </label>
                        <input class="console-input" 
                               type="text"
                               (keyup)="passwordMatchValidator()"
                               required
                               (focus)="onInputFocus()" (blur)="onInputBlur()"
                               formControlName="repassword"
                               #repassword
                               id="repassword"
                               placeholder="***" >
                    </div>

                    <div class="p-3" >
                        <button class="btn btn-warning rounded-pill btn-sm w-100 fs-3 p-3"
                                [disabled]="btnDis" type="submit" >
                                <i class="pi pi-check"></i>  Registrarse 
                        </button>
                    </div>
                </form>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <span class="text-light" style="text-align: center;">
                        Conecta con personas, crea comunidades, y resuelvan cosas juntos...
                    </span>
                    <small class="text-light p-2" > {{versionamiento}} </small>
                </div>

            </div>

        </div>
        </div>
        </section>

    </div>
</div>