
    <div class="d-flex justify-content-between align-items-center m-1 w-100">
        <div class="fs-3">
            <img src="../../../../assets/img/pomodoro.png" width="250px" height="auto" >
        </div>
        <div class="d-flex" >
            <button class="buttons-systems d-flex align-items-center m-1"
                    (click)="openDataEquiposDialog()"
                    >
                    <mat-icon>settings</mat-icon> <span class="_msj_button" *ngIf="_msj_button"> Configuración </span>
            </button>
             <!-- <button class="buttons-systems d-flex align-items-center m-1">
                <mat-icon>bar_chart</mat-icon> <span class="_msj_button"> Report </span>
            </button> -->
            <!--<button class="buttons-systems d-flex align-items-center m-1">
                <mat-icon>account_circle</mat-icon> Login
            </button> -->        
    </div>
</div>
